apiVersion: v1
kind: Service
metadata:
  name: etcd
  namespace: {{ .Release.Namespace }}
  labels:
    app: etcd
spec:
  type: ClusterIP
  ports:
    - name: client
      port: {{ .Values.ports.client | default 2379 }}
      targetPort: 2379
      protocol: TCP
  selector:
    app: etcd
---
apiVersion: v1
kind: Service
metadata:
  name: etcd-headless
  namespace: {{ .Release.Namespace }}
  labels:
    app: etcd
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: client
      port: {{ .Values.ports.client | default 2379 }}
      targetPort: 2379
      protocol: TCP
    - name: peer
      port: {{ .Values.ports.peer | default 2380 }}
      targetPort: 2380
      protocol: TCP
  selector:
    app: etcd
