apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    ti.cloud.tencent.com/resource-quota: unlimited
  labels:
    app: llm-manager-server
  name: llm-manager-server
  namespace: {{ .Release.Namespace }}
spec:
  {{- if eq .Values.global.clusterSize "minimal" }}
  replicas: 1
  {{- else if eq .Values.global.clusterSize "standard" }}
  replicas: 2
  {{- else }}
  replicas: 3
  {{- end }}
  selector:
    matchLabels:
      app: llm-manager-server
  template:
    metadata:
      labels:
        app: llm-manager-server
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - llm-manager-server
              topologyKey: kubernetes.io/hostname
            weight: 1
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 50
              preference:
                matchExpressions:
                  - key: GPUName
                    operator: DoesNotExist
            - weight: 50
              preference:
                matchExpressions:
                  - key: product
                    operator: In
                    values:
                      - lke
      serviceAccountName: llm-manager-controllers
      priorityClassName: system-cluster-critical
      {{- if eq (include "needInitContainer" .) "true" }}
      serviceAccountName: adp-reader
      {{- end }}
      initContainers:
        {{- include "dependencyChecker.initContainer" . | nindent 8 }}
      containers:
        - env:
            - name: DEPLOYMENT_ENVIRONMENT
              value: TCS
            - name: __AppEnname
              value: LLMManagerServer
            - name: __ProjectEnname
              value: yunxiaoweipingtai
            - name: __AppGroupEnname
              value: SmartAssistant
            - name: __Env
              value: test-env
            - name: __EnvId
              value: '48486'
            - name: __Region
              value: ap-guangzhou
            - name: __PolarisNamespace
              value: Development
            - name: MONITOR_AREGION
              value: ap-guangzhou
            - name: MONITOR_ASERVICE
              value: LLMManagerServer
            - name: MONITOR_AAPP
              value: SmartAssistant
            - name: MONITOR_APPID
              value: '9209'
            - name: MONITOR_NAMESPACE
              value: 84631_LLMManagerServer
            - name: MONITOR_HOST
              value: >-
                http://guangzhou.reporter.tsm.tencentyun.com/report/custom_report
            - name: TRACING_HOST
            - name: TRACING_TOKEN
            - name: ZHIYAN_TRACING_TOKEN
            - name: ZHIYAN_TRACING_HOST
            - name: __DefaultAppMark
              value: 9209_84631_LLMManagerServer
            - name: DOCKER_ENV
              value: formal
            - name: APP
              value: SmartAssistant
            - name: SERVER
              value: LLMManagerServer
            - name: APP_NAME
              value: SmartAssistant
            - name: SERVER_NAME
              value: LLMManagerServer
            - name: SET_NAME
              value: ..
            - name: IS_GRAY
              value: 'N'
            - name: NAMESPACE
              value: Development
            - name: CONTAINER_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: NODE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_UID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.uid
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
          image: {{(index .Values.tad.images "llm-manager-server").url}}
          imagePullPolicy: Always
          command: ["bash","/usr/local/app/start.sh"]
          #command: ["bash", "-c", "while true; do sleep 1; done"]
          lifecycle:
            preStop:
              exec:
                command:
                  - sleep
                  - '70'
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - '-c'
                - thhealthcheck -trpc-default-v2
            failureThreshold: 5
            initialDelaySeconds: 30
            periodSeconds: 60
            successThreshold: 1
            timeoutSeconds: 2
          name: main-container
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - '-c'
                - thhealthcheck -trpc-default-v2
            failureThreshold: 2
            initialDelaySeconds: 30
            periodSeconds: 3
            successThreshold: 1
            timeoutSeconds: 2
          {{- if eq .Values.global.clusterSize "minimal" }}
          resources:
            limits:
              cpu: "500m"
              memory: "1Gi"
            requests:
              cpu: "500m"
              memory: "1Gi"
          {{- else if eq .Values.global.clusterSize "standard" }}
          resources:
            limits:
              cpu: "1"
              memory: "1Gi"
            requests:
              cpu: "1"
              memory: "1Gi"
          {{- else }}
          resources:
            limits:
              cpu: "1"
              memory: "2Gi"
            requests:
              cpu: "1"
              memory: "2Gi"
          {{- end }}
          stdin: true
          tty: true
          volumeMounts:
            - mountPath: /usr/local/trpc/log
              name: applog
              subPathExpr: $(POD_NAME)
            - mountPath: /usr/local/app/workspace/trpc_go.yaml
              name: config-trpc
              subPathExpr: trpc_go.yaml
            - mountPath: /usr/local/trpc/configmap/LLMManagerServer.json
              name: config
              subPathExpr: LLMManagerServer.json
      imagePullSecrets:
        - name: {{ .Values.imagePullSecretName }}
      restartPolicy: Always
      securityContext: {}
      terminationGracePeriodSeconds: 80
      volumes:
        {{- include "dependencyChecker.volumes" . | nindent 8 }}
        - name: applog
          hostPath:
            path: /data/ti-platform/log/llm-manager-server
            type: DirectoryOrCreate
        - configMap:
            name: llm-manager-server-trpc
          name: config-trpc
        - configMap:
            name: llm-manager-server
          name: config
