apiVersion: v1
kind: ServiceAccount
metadata:
  name: ti-helm-hook-serviceaccount
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
