apiVersion: apps/v1
kind: Deployment
metadata:
  name: webappchatbot
  namespace: {{ .Release.Namespace }}
  labels:
    app: webappchatbot
    app.kubernetes.io/name: webappchatbot
    configmap.reloader.stakater.com/reload: "web-app"
spec:
  {{- if eq .Values.global.clusterSize "minimal" }}
  replicas: 1
  {{- else if eq .Values.global.clusterSize "standard" }}
  replicas: 2
  {{- else }}
  replicas: 3
  {{- end }}
  selector:
    matchLabels:
      app: webappchatbot
  template:
    metadata:
      labels:
        app: webappchatbot
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - webappchatbot
              topologyKey: kubernetes.io/hostname
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 50
              preference:
                matchExpressions:
                  - key: GPUName
                    operator: DoesNotExist
            - weight: 50
              preference:
                matchExpressions:
                  - key: product
                    operator: In
                    values:
                      - lke
      terminationGracePeriodSeconds: 90
      imagePullSecrets:
        - name: {{ .Values.imagePullSecretName }}
      {{- if eq (include "needInitContainer" .) "true" }}
      serviceAccountName: adp-reader
      {{- end }}
      initContainers:
        {{- include "dependencyChecker.initContainer" . | nindent 8 }}
      containers:
        - env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          image: {{(index .Values.tad.images "web-app").url}}
          imagePullPolicy: Always
          command: ["nginx", "-c", "/web/nginx.conf", "-g", "daemon off;"]
          ports:
            - containerPort: 30002
          livenessProbe:
            httpGet:
              path: /
              port: 30002
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /
              port: 30002
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
            successThreshold: 1
          name: webappchatbot
          {{- if eq .Values.global.clusterSize "minimal" }}
          resources:
            limits:
              cpu: "500m"
              memory: "1Gi"
            requests:
              cpu: "500m"
              memory: "1Gi"
          {{- else if eq .Values.global.clusterSize "standard" }}
          resources:
            limits:
              cpu: "500m"
              memory: "1Gi"
            requests:
              cpu: "500m"
              memory: "1Gi"
          {{- else }}
          resources:
            limits:
              cpu: "1"
              memory: "2Gi"
            requests:
              cpu: "1"
              memory: "2Gi"
          {{- end }}
          volumeMounts:
#            - mountPath: /etc/localtime
#              name: localtime
            - mountPath: /web/nginx.conf
              name: config
              subPath: nginx.conf
            - mountPath: /web/html/qbot/config.js
              name: config
              subPath: config.js
      volumes:
        {{- include "dependencyChecker.volumes" . | nindent 8 }}
        - name: config
          configMap:
            defaultMode: 420
            name: {{ .Release.Name }}-web-app

