apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    ti.cloud.tencent.com/resource-quota: unlimited
  labels:
    app: chat
  name: chat
  namespace: {{ .Release.Namespace }}
spec:
  {{- if eq .Values.global.clusterSize "minimal" }}
  replicas: 1
  {{- else if eq .Values.global.clusterSize "standard" }}
  replicas: 2
  {{- else }}
  replicas: 3
  {{- end }}
  selector:
    matchLabels:
      app: chat
  template:
    metadata:
      labels:
        app: chat
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - chat
              topologyKey: kubernetes.io/hostname
            weight: 1
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 50
              preference:
                matchExpressions:
                  - key: GPUName
                    operator: DoesNotExist
            - weight: 50
              preference:
                matchExpressions:
                  - key: product
                    operator: In
                    values:
                      - lke
      {{- if eq (include "needInitContainer" .) "true" }}
      serviceAccountName: adp-reader
      {{- end }}
      initContainers:
        {{- include "dependencyChecker.initContainer" . | nindent 8 }}
      containers:
        - env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: version
              value: "20230925"
            - name: DEPLOYMENT_ENVIRONMENT
              value: "TCS"
          image: {{(index .Values.tad.images "chat").url}}
          imagePullPolicy: Always
          # command: ["sh","-c", "crond start; touch /var/log/log.txt && tail -f /var/log/log.txt"]
          livenessProbe:
            failureThreshold: 2
            initialDelaySeconds: 30
            periodSeconds: 3
            successThreshold: 1
            tcpSocket:
              port: 9090
            timeoutSeconds: 2
          name: chat-online-prod-env
          readinessProbe:
            failureThreshold: 2
            initialDelaySeconds: 30
            periodSeconds: 3
            successThreshold: 1
            tcpSocket:
              port: 9090
            timeoutSeconds: 2
          {{- if eq .Values.global.clusterSize "minimal" }}
          resources:
            limits:
              cpu: "500m"
              memory: "1Gi"
            requests:
              cpu: "500m"
              memory: "1Gi"
          {{- else if eq .Values.global.clusterSize "standard" }}
          resources:
            limits:
              cpu: "1"
              memory: "2Gi"
            requests:
              cpu: "1"
              memory: "2Gi"
          {{- else }}
          resources:
            limits:
              cpu: "1"
              memory: "4Gi"
            requests:
              cpu: "1"
              memory: "4Gi"
          {{- end }}
          securityContext:
            capabilities:
              add:
                - SYS_RESOURCE
                - NET_ADMIN
                - SYS_ADMIN
                - IPC_LOCK
                - SYS_PTRACE
            privileged: false
          stdin: true
          tty: true
          volumeMounts:
            - mountPath: /app/logs
              name: logdata
              subPathExpr: $(POD_NAME)
            - mountPath: /app/conf/
              name: config
            - mountPath: /app/scurl.yaml
              name: rainbow-comm
              subPath: scurl.yaml
      imagePullSecrets:
        - name: {{ .Values.imagePullSecretName }}
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      volumes:
        {{- include "dependencyChecker.volumes" . | nindent 8 }}
        - hostPath:
            path: /data/ti-platform/log/chat
            type: DirectoryOrCreate
          name: logdata
        - configMap:
            name: chat-application
          name: config-application
        - configMap:
            defaultMode: 420
            name:  {{ .Release.Name }}-chat-manage
          name: config
        - configMap:
            name: rainbow-comm
          name: rainbow-comm
