apiVersion: apps/v1
kind: Deployment
metadata:
  name: codeinterpreterdispatcher
  namespace: {{ .Release.Namespace }}
  annotations:
    ti.cloud.tencent.com/resource-quota: unlimited
  labels:
    app: codeinterpreterdispatcher
    app.kubernetes.io/name: codeinterpreterdispatcher
spec:
  {{- if eq .Values.global.clusterSize "minimal" }}
  replicas: 1
  {{- else if eq .Values.global.clusterSize "standard" }}
  replicas: 2
  {{- else }}
  replicas: 3
  {{- end }}
  selector:
    matchLabels:
      app: codeinterpreterdispatcher
  template:
    metadata:
      labels:
        app: codeinterpreterdispatcher
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - codeinterpreterdispatcher
                topologyKey: kubernetes.io/hostname
              weight: 1
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 50
              preference:
                matchExpressions:
                  - key: GPUName
                    operator: DoesNotExist
            - weight: 50
              preference:
                matchExpressions:
                  - key: product
                    operator: In
                    values:
                      - lke
      serviceAccountName: code-interpreter-dispatcher-controllers
      terminationGracePeriodSeconds: 90
      initContainers:
        {{- include "dependencyChecker.initContainer" . | nindent 8 }}
      containers:
        - env:
            - name: MKL_NUM_THREADS
              value: "2"
            - name: LOG_SPACES
              value: "2097152"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: DEPLOYMENT_ENVIRONMENT
              value: TCS
            - name: NAME_SPACE
              value: default
            - name: ENV
              value: tcs
            - name: SERVER_LOG_LEVEL
              value: info
          image: {{(index .Values.tad.images "code-interpreter-dispatcher").url}}
          imagePullPolicy: Always
          name: codeinterpreterdispatcher
          livenessProbe:
            failureThreshold: 2
            initialDelaySeconds: 30
            periodSeconds: 3
            successThreshold: 1
            tcpSocket:
              port: 8000
            timeoutSeconds: 2
          readinessProbe:
            failureThreshold: 2
            initialDelaySeconds: 30
            periodSeconds: 3
            successThreshold: 1
            tcpSocket:
              port: 8000
            timeoutSeconds: 2
          #command: ["sh","-c", "crond start; touch /var/log/log.txt && tail -f /var/log/log.txt"]
          #command: ["sh","/usr/local/app/start.sh"]
          {{- if eq .Values.global.clusterSize "minimal" }}
          resources:
            limits:
              cpu: "500m"
              memory: "1Gi"
            requests:
              cpu: "500m"
              memory: "1Gi"
          {{- else if eq .Values.global.clusterSize "standard" }}
          resources:
            limits:
              cpu: "500m"
              memory: "1Gi"
            requests:
              cpu: "500m"
              memory: "1Gi"
          {{- else }}
          resources:
            limits:
              cpu: "1"
              memory: "2Gi"
            requests:
              cpu: "1"
              memory: "2Gi"
          {{- end }}
          volumeMounts:
            - mountPath: /etc/localtime
              name: localtime
            - mountPath: /app/logs
              name: logdata
              subPathExpr: $(POD_NAME)
            - mountPath: /app/conf/trpc_go.yaml
              subPath: trpc_go.yaml
              name: config
            - mountPath: /app/conf/main.yaml
              subPath: main.yaml
              name: config
            - mountPath: /app/conf/placeholder.yaml
              subPath: placeholder.yaml
              name: config
            - mountPath: /app/conf/kube.yaml
              name: config-kube
      imagePullSecrets:
        - name: {{ .Values.imagePullSecretName }}
      restartPolicy: Always
      volumes:
        {{- include "dependencyChecker.volumes" . | nindent 8 }}
        - hostPath:
            path: /etc/localtime
          name: localtime
        - hostPath:
            path: /data/ti-platform/log/codeinterpreterdispatcher
            type: DirectoryOrCreate
          name: logdata
        - configMap:
            defaultMode: 420
            name: {{ .Release.Name }}-code-interpreter-dispatcher
          name: config
        - hostPath:
            path: /root/.kube/config
          name: config-kube
