{{- $re_nu   := 1}}
{{- if eq (.Values.global.helmfile_env_name | default "tke") "tcs" }}
  {{- $re_nu = 2 }}
{{- end}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ti-gateway-workload
  namespace: {{ .Release.Namespace }}
  labels:
    app: ti-gateway-workload
    app.cpaas.io/name: ti-gateway.{{ .Release.Namespace }}
    project.cpaas.io/name: ti-platform
    service.cpaas.io/name: deployment-ti-gateway-workload
  annotations:
    configmap.reloader.stakater.com/reload: "ti-gateway-config,ti-gateway-init-route-crd,ti-gateway-upstream-platform"
spec:
  progressDeadlineSeconds: 600
  {{- if eq .Values.global.clusterSize "minimal" }}
  replicas: 1
  {{- else if eq .Values.global.clusterSize "standard" }}
  replicas: 2
  {{- else }}
  replicas: 3
  {{- end }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: ti-gateway-workload
      app.cpaas.io/name: ti-gateway.{{ .Release.Namespace }}
      project.cpaas.io/name: ti-platform
      service.cpaas.io/name: deployment-ti-gateway-workload
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: ti-gateway-workload
        app.cpaas.io/name: ti-gateway.{{ .Release.Namespace }}
        project.cpaas.io/name: ti-platform
        service.cpaas.io/name: deployment-ti-gateway-workload
    spec:
      imagePullSecrets:
        - name: {{ $.Values.imagePullSecretName }}
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: node-role.kubernetes.io/master
                    operator: Exists
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              topologyKey: "kubernetes.io/hostname"
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - ti-gateway-workload
      priorityClassName: system-cluster-critical
      {{- if eq (include "needInitContainer" .) "true" }}
      serviceAccountName: adp-reader
      {{- end }}
      initContainers:
        {{- include "dependencyChecker.initContainer" . | nindent 8 }}
      containers:
        - env:
            - name: TZ
              value: Asia/Shanghai
            - name: HOSTNAME
              value: TiGateway
            - name: ETCD_CLUSTER
              value: "{{- $etcd := .Values.global.components.etcd | default dict -}}{{- $hosts := $etcd.hosts | default (list "etcd") -}}{{- $port := $etcd.port | default 2379 -}}{{- range $host := $hosts -}} {{- $host}}:{{$port -}} {{- end }}"
            - name: ETCD_USER
              value: {{ (.Values.global.components.etcd).user | default "" | quote }}
            - name: ETCD_PWD
              value: {{ (.Values.global.components.etcd).password | default "" | quote }}
            - name: ETCD_RELOAD_INTERVAL
              value: "10"
            - name: ETCD_TIMEOUT
              value: "1"
            - name: ETCD_RESYNC_DELAY
              value: "0.05"
            - name: AUTH_NS
              value: {{ .Release.Namespace }}
            - name: ENABLE_NOAUTH_S
              value: "true"
            - name: INIT_DATA
              value: "true"
            - name: WEB_RESOURCE_SUFFIX
              value: "js,css,html,htm,png,jpg,jpeg,bmp,git,ico,txt,map,svg,woff,woff2"
            - name: FORCE
              value: "true"
            - name: REDIS_PASSWORD
              value: {{ .Values.global.components.redis.password | quote }}
            - name: REDIS_PORT
              value: {{ .Values.global.components.redis.port | quote }}
            - name: REDIS_SENTINEL
              value: master://{{- range $host := .Values.global.components.redis.hosts -}} {{- $host}}:{{$.Values.global.components.redis.port -}} {{- end }}
            - name: REDIS_SENTINEL_MASTER
              value: "mymaster"
            - name: REDIS_MASTER_INTERVAL
              value: "60"
            - name: REDIS_KEEPALIVE_TIMEOUT
              value: "60000"
            - name: REDIS_KEEPALIVE_POOLSIZE
              value: "100"
            - name: WORKER_SYNC_INTERVAL
              value: "1"
            - name: LIMIT_DELTA
              value: "1.2"
          image: {{(index .Values.tad.images "ti-gateway").url}}
          imagePullPolicy: Always
          name: ti-gateway
          #command: ["sh", "-c", "while true; do sleep 100; done"]
          {{- if eq .Values.global.clusterSize "minimal" }}
          resources:
            limits:
              cpu: "500m"
              memory: "1Gi"
            requests:
              cpu: "500m"
              memory: "1Gi"
          {{- else if eq .Values.global.clusterSize "standard" }}
          resources:
            limits:
              cpu: "500m"
              memory: "2Gi"
            requests:
              cpu: "500m"
              memory: "2Gi"
          {{- else }}
          resources:
            limits:
              cpu: "1"
              memory: "1Gi"
            requests:
              cpu: "1"
              memory: "1Gi"
          {{- end }}
          readinessProbe:
            httpGet:
              path: /apisix/admin/health
              port: 9080
              httpHeaders:
                - name: X-API-KEY
                  value: 2bffd108f0a56053e665440292bc529a
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /apisix/admin/health
              port: 9080
              httpHeaders:
                - name: X-API-KEY
                  value: 2bffd108f0a56053e665440292bc529a
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 3
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /usr/local/apisix/conf/config-default.yaml
              name: ti-gateway-config
              subPath: config-default.yaml
            - mountPath: /usr/local/apisix/utils/init-route-crd.sh
              name: ti-gateway-init-route-crd
              subPath: init-route-crd.sh
            - mountPath: /usr/local/apisix/utils/csv_file_third_platform/upstream_platform.csv
              name: ti-gateway-upstream-platform
              subPath: upstream_platform.csv
            - mountPath: /usr/local/apisix/logs/
              name: ti-gateway-log
        - env:
            - name: TZ
              value: Asia/Shanghai
            - name: ES_URL_LIST
              value: {{ join "," .Values.global.components.es.hosts | quote }}
            - name: ELASTICSEARCH_USERNAME
              value: {{ .Values.global.components.es.user | quote }}
            - name: ELASTICSEARCH_PASSWORD
              value: {{ .Values.global.components.es.password | quote }}
            - name: LOG_LEVEL
              value: "error"
            - name: KEEP_LOG_FILE
              value: "3"
          image: {{(index .Values.tad.images "ti-gateway-filebeat-oss").url}}
          imagePullPolicy: Always
          name: ti-gateway-filebeat
          {{- if eq .Values.global.clusterSize "minimal" }}
          resources:
            limits:
              cpu: "500m"
              memory: "1Gi"
            requests:
              cpu: "500m"
              memory: "1Gi"
          {{- else if eq .Values.global.clusterSize "standard" }}
          resources:
            limits:
              cpu: "500m"
              memory: "2Gi"
            requests:
              cpu: "500m"
              memory: "2Gi"
          {{- else }}
          resources:
            limits:
              cpu: "1"
              memory: "1Gi"
            requests:
              cpu: "1"
              memory: "1Gi"
          {{- end }}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /usr/local/apisix/logs/
              name: ti-gateway-log
            - mountPath: /usr/share/filebeat/data
              name: ti-gateway-filebeat-data
      dnsPolicy: ClusterFirst
      dnsConfig:
        options:
        - name: timeout
          value: "2"
        - name: attempts
          value: "3"
        - name: rotate
        - name: single-request-reopen
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
        {{- include "dependencyChecker.volumes" . | nindent 8 }}
        - configMap:
            defaultMode: 420
            name: ti-gateway-config
          name: ti-gateway-config
        - configMap:
            defaultMode: 493
            name: ti-gateway-init-route-crd
          name: ti-gateway-init-route-crd
        - configMap:
            defaultMode: 420
            name: ti-gateway-upstream-platform
          name: ti-gateway-upstream-platform
        - emptyDir: {}
          name: ti-gateway-log
        - emptyDir: {}
          name: ti-gateway-filebeat-data
