apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app:  {{ .Values.TkeControllerName }}
    service:  {{ .Values.TkeControllerName }}
  name:  {{ .Values.TkeControllerName }}
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: {{ .Values.TkeControllerName }}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ .Values.TkeControllerName }}
        service:   {{ .Values.TkeControllerName }}
    spec:
      containers:
      - args:
        - --leader-elect=true
        - --logtostderr=true
        - --v=5
        image:  {{ .Values.imagecontroller.repository }}:{{ .Values.imagecontroller.tag }}
        imagePullPolicy: {{ .Values.imagecontroller.pullPolicy }}
        name:   {{ .Values.TkeControllerName }}
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount:  {{ .Values.TkeControllerName }}
      serviceAccountName:   {{ .Values.TkeControllerName }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}