apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "plugincosutil.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "plugincosutil.labels" . | nindent 4 }}
data:
  config.json: |
    {
      "cos": {
        "secret_id": {{ .Values.global.components.s3.cos.secretId | quote }},
        "secret_key": {{ .Values.global.components.s3.cos.secretKey | quote }},
        "region": {{ .Values.global.components.s3.cos.region | quote }},
        "bucket": {{ .Values.global.components.s3.cos.bucket | quote }},
        "key_prefix": {{ .Values.plugincosutil.env.LKE_COS_KEY_PREFIX | quote }},
        "expire_time": {{ .Values.plugincosutil.env.LKE_COS_EXPIRE_TIME | quote }}
      },
      "minio": {
        "access_key": {{ .Values.plugincosutil.env.LKE_MINIO_ACCESS_KEY | quote }},
        "secret_key": {{ .Values.plugincosutil.env.LKE_MINIO_SECRET_KEY | quote }},
        "endpoint": {{ .Values.plugincosutil.env.LKE_MINIO_ENDPOINT | quote }},
        "bucket": {{ .Values.plugincosutil.env.LKE_MINIO_BUCKET | quote }},
        "secure": {{ .Values.plugincosutil.env.LKE_MINIO_SECURE | quote }},
        "expire_time": {{ .Values.plugincosutil.env.LKE_MINIO_EXPIRE_TIME | quote }},
        "key_prefix": {{ .Values.plugincosutil.env.LKE_MINIO_KEY_PREFIX | quote }},
        "key_prefix_direct": {{ .Values.plugincosutil.env.LKE_MINIO_KEY_PREFIX_DIRECT | quote }}
      },
      "storage_type": {{ .Values.plugincosutil.env.STORAGE_TYPE | quote }},
      "file_max_upload_size": {{ .Values.plugincosutil.env.FILE_MAX_UPLOAD_SIZE | quote }}
    }
